.pageHeader {
  text-align: center;
  padding: 4rem 3rem 2rem;
  margin: 0 0 1rem;
  @include break-md {
    max-width: 75%;
    margin: 0 auto 1rem;
  }
  @include break-lg {
    max-width: 52%;
  }
}

.pageHeader__title {
  margin-top: 1.5rem;
  @include header2;
}
.pageHeader__desc {
  @include displayText;
}
