.overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba($c-grey, 0.9);
  opacity: 0;
  animation: fadeIn 0.35s cubic-bezier(0.5, 0, 0.5, 1) forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal {
  position: absolute;
  inset: 0;
  overflow: auto;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.modalContent {
  pointer-events: auto;
  background: $c-grey;
  border: 1px solid $c-green;
  border-radius: 8px;
  position: relative;
  padding: 5rem 2rem 2rem;
  width: 80%;
  max-width: 1120px;
  max-height: 90vh;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    background-color: $c-grey;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $c-green;
    border-radius: 100px;
    border: 5px solid $c-grey;
  }

  @include break-md {
    padding: 4rem;
  }
  @include break-xl {
    padding: 6rem 4rem;
  }

  opacity: 0;
  transform-origin: center;
  transform: scale(0.975);
  animation: fadeInSlide 0.5s cubic-bezier(0.5, 0, 0.5, 1) 0.35s forwards;
}

@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: scale(0.975);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.closeButton {
  background: transparent;
  border: 0;
  position: absolute;

  transition: all 0.3s;
  padding: 0;
  margin: 0;
  transform: scale(0.7);
  &:hover {
    cursor: pointer;
  }
  top: -5px;
  right: -5px;
  @include break-md {
    top: 0;
    right: 0;
  }
  @include break-xl {
    transform: scale(0.9);
    top: 8px;
    right: 8px;
  }
}
.planetInfo {
  @include break-md {
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    gap: 5rem;
  }
}
.videoContainer {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 100%;
  margin-bottom: 1rem;
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5);
  @include break-md {
    margin-bottom: 0;
  }
}

.planetHeader {
  padding: 3rem 0;
}
.planetName {
  @include headerTitle;
  @include break-lg {
    margin-bottom: 2rem;
  }
}
.video {
  width: 100%;
  height: 100%;
  position: absolute;
}

.planetText {
  padding-right: 3rem;
}

.attributesHeader {
  @include header4;
}
.planetAttributes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.attribute {
  font-family: $f-mono;
  font-weight: 400;
}
.attributeName {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  margin-bottom: 0.25rem;
  opacity: 0.75;
}
.attributeValue {
  font-size: 1.6rem;
  text-transform: capitalize;
}

.priceInfo {
  @include smallCapsMd;
  .price {
    font-size: 2rem;
    display: inline-block;
    padding-left: 0.75rem;
  }
}

.formWrap {
  background: $c-grey;
  border: 1px solid $c-green;
  border-radius: 8px;
  padding: 2rem;
  margin: 3rem 0;
}

.subhead {
  @include header4;
}
.visitInputs {
  width: 100%;
  & > * {
    margin-bottom: 1.5rem;
  }
  @include break-lg {
    display: flex;
    align-items: center;
    & > * {
      margin-bottom: 0;
    }
  }
}
.formBottom {
  position: relative;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  &:before {
    position: absolute;
    left: -2rem;
    top: 0;
    content: '';
    display: block;
    width: calc(100% + 4rem);
    border-top: 1px solid $c-green;
  }
}

.textInputWrap {
  margin: 1rem 0;
  max-width: 15rem;
}

.textInput {
  background: $c-grey;
  border: 1px solid $c-green;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  color: $c-green;
  width: 100%;
  font-size: 1.8rem;
  font-family: $f-mono;
  transition: all 0.2s;
  font-weight: 900;
  &:focus {
    background: rgba($c-green, 0.025);
    outline: 0;
    box-shadow: 0 0 4px 1px rgba($c-green, 0.65);
  }
}
.label {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  top: 0;
  left: 1rem;
}
.ownerInputs {
  & > * {
    margin-bottom: rem;
  }
  @include break-lg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > * {
      margin-bottom: 0;
    }
    .priceBtn {
      transform: translateY(10px);
    }
  }
}
