.overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba($c-grey, 0.9);
  opacity: 0;
  animation: fadeIn 0.35s cubic-bezier(0.5, 0, 0.5, 1) forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal {
  position: absolute;
  inset: 0;
  overflow: auto;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.modalContent {
  pointer-events: auto;
  background: $c-grey;
  border: 1px solid $c-green;
  border-radius: 8px;
  position: relative;
  padding: 5rem 2rem 2rem;
  width: 80%;
  max-width: 1120px;
  @include break-md {
    padding: 4rem;
  }
  @include break-xl {
    padding: 6rem;
  }

  opacity: 0;
  transform-origin: center;
  transform: scale(0.975);
  animation: fadeInSlide 0.5s cubic-bezier(0.5, 0, 0.5, 1) 0.35s forwards;
}

@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: scale(0.975);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.closeButton {
  background: transparent;
  border: 0;
  position: absolute;

  transition: all 0.3s;
  padding: 0;
  margin: 0;
  transform: scale(0.7);
  &:hover {
    cursor: pointer;
  }
  top: -5px;
  right: -5px;
  @include break-md {
    top: 0;
    right: 0;
  }
  @include break-xl {
    transform: scale(0.9);
    top: 8px;
    right: 8px;
  }
}
.planetInfo {
  @include break-md {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
  }
}
.videoContainer {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 100%;
  margin-bottom: 1rem;
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5);
  @include break-md {
    margin-bottom: 0;
  }
}
.video {
  width: 100%;
  height: 100%;
  position: absolute;
}

.planetText {
  padding-right: 3rem;
}
.planetName {
  @include header2;
  @include break-lg {
    margin-bottom: 2rem;
  }
}
.attributesHeader {
  @include header4;
}
.planetAttributes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.attribute {
  font-family: $f-mono;
  font-weight: 400;
}
.attributeName {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  margin-bottom: 0.25rem;
  opacity: 0.75;
}
.attributeValue {
  font-size: 1.6rem;
  text-transform: capitalize;
}

.travelerInfo {
  padding: 2rem 0 0;
  @include smallCapsMd;
  margin-bottom: 2rem;
}

.visitTransactionWrap {
  background: $c-grey-mid;
  border: 1px solid $c-grey-dark;
  border-radius: 8px;
  padding: 2rem 2rem 2rem 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0 3rem;

  @include break-md {
    margin: 2rem -2.5rem 3rem -2.5rem;
    padding: 2rem 2.5rem 2rem 1.5rem;
  }
}
.priceSpacer {
  display: inline-block;
  padding: 0 2rem;
}
