.pad {
  padding: 1rem 2rem;
}
.cardGrid {
  padding: 3rem;
  max-width: $s-maxWidth;
  margin: 0 auto 3rem;

  &.noPad {
    padding: 0;
  }

  &.collapsible {
    border: 5px solid $c-green;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.25);
  }
}
.cardGridCards {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;

  @include break-md {
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  &.largeCards {
    grid-template-columns: 1fr 1fr 1fr;

    @include break-md {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.header {
  @include header2;
  .button {
    display: block;
    width: 100%;
    text-align: left;
    appearance: none;
    border: 0;
    background: transparent;
    @include header2;
    color: $c-green;

    position: relative;
    &:after {
      content: '–';
      position: absolute;
      right: 0;
      top: 0;
      font-weight: 300;
      font-size: 3rem;
      border: 2px solid $c-green;
      line-height: 31px;
      width: 40px;
      height: 40px;
      text-align: center;
      border-radius: 30px;
    }
    .closed & {
      &:after {
        content: '+';
        line-height: 37px;
      }
      margin-bottom: 0;
    }
  }
  color: $c-green;
  .closed & {
    margin-bottom: 0;
  }
}

.description {
  font-size: 1.6rem;
  margin: -1rem 0 2rem;
  font-weight: 300;
  @include break-md {
    font-size: 1.8rem;
  }
}
