// Breakpoints

@mixin break-sm {
  @media (min-width: $bp-sm) {
    @content;
  }
}
@mixin break-md {
  @media (min-width: $bp-md) {
    @content;
  }
}
@mixin break-lg {
  @media (min-width: $bp-lg) {
    @content;
  }
}
@mixin break-xl {
  @media (min-width: $bp-xl) {
    @content;
  }
}

// Type Styles
@mixin headerTitle {
  font-size: 2.8rem;
  font-weight: 900;
  margin: 0 0 1rem;
  letter-spacing: -0.01em;
  @include break-md {
    font-size: 4.2rem;
    margin: 0 0 2rem;
  }
  @include break-xl {
    font-size: 5.2rem;
  }
}
@mixin header2 {
  font-size: 2.4rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 0 1rem;
  letter-spacing: -0.01em;
  @include break-md {
    font-size: 3.6rem;
    margin: 0 0 2rem;
  }
  @include break-xl {
    font-size: 4.8rem;
  }
}

@mixin header2b {
  font-size: 2.2rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  margin: 0 0 1rem;
  @include break-md {
    font-size: 3.4rem;
    margin: 0 0 2rem;
  }
  @include break-xl {
    font-size: 4.2rem;
  }
}

@mixin displayText {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.25;
  @include break-md {
    font-size: 2.4rem;
  }
  @include break-xl {
    font-size: 2.8rem;
  }
}

@mixin header3 {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  @include break-md {
    font-size: 2.8rem;
    margin: 0 0 2rem;
  }
  @include break-xl {
    font-size: 3.4rem;
  }
}

@mixin header4 {
  font-weight: 700;
  font-family: $f-sans;
  font-size: 1.8rem;
  line-height: 1.125;
  color: $c-green;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 2rem;
}

@mixin smallCaps {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.075em;
  line-height: 1.5;
}
@mixin smallCapsMd {
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.075em;
  line-height: 1.25;
}

// Utils
@mixin hoverGlow {
  background: rgba($c-green, 0.05);
  box-shadow: 0 0 8px $c-green;
}
