// Breakpoints
$bp-sm: 460px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;

// Colors
$c-blue: #2330d6;
$c-magenta: #dc4597;
$c-green: #00fab3;
$c-grey: #271f1f;

// Fonts
$f-mono: 'Roboto Mono', monospace;
$f-sans: 'Roboto', sans-serif;

// Spacing
$s-maxWidth: 1400px;
