html {
  font-size: 62.5%; // rems are now 10px
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: $f-sans;
  color: $c-green;
}
html {
  background: $c-grey url('/bk-balloon.png') no-repeat;
  background-size: 100% auto;
  @include break-lg {
    background: $c-grey url('/bk-balloon-2x.png') no-repeat;
    background-size: 100% auto;
  }
}
body {
  background: url('/bk-dots.svg') repeat-y;
  background-size: 100% auto;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
}
